:root {
	--nav-bg: #191c20ff;
	--noraml-text: #dee1e6ff;
	--highlight-text: #fe763eff;
	--container-bg: #303336ff;

	--body-bg: #4c4c4cff;
	--text-color: rgb(1, 49, 182);
	--btn-hover-bg: rgb(62, 193, 254);
	--btn-bg: #dee1e6ff;
	--container2-bg: #ffa57fff;
	--dark-text: #b63701ff;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: sans-serif;
	color: var(--noraml-text);
}

body {
	background-color: var(--body-bg);
}
html {
	scroll-behavior: smooth;
}

h2,
h3 {
	text-align: center;
	color: var(--highlight-text);
}

nav {
	background-color: var(--container-bg);
	position: sticky;
	top: 0;
	box-shadow: 0px 4px 9px #474746, 0px 0px 2px #5d5f61;
}

#navbar {
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 1em 0;
}

nav ul {
	list-style: none;
	display: flex;
}

nav ul li {
	margin: 0 1em;
}
nav ul li:last-child {
	margin-right: 0;
}

header {
	height: 85vh;
	width: 90%;
	margin: auto;
	margin-top: 2.5vw;
	border-radius: 1%;
	background-color: var(--container-bg);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#pic_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 50%;
}

#pic_container img {
	width: 309px;
	height: 396px;
	border-radius: 155px;
	object-fit: cover;
}

#pic_container button {
	width: 154px;
	height: 40px;
	margin-top: 2em;
	padding: 0 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 22px;
	color: var(--noraml-text);
	background: var(--highlight-text);
	opacity: 1;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}

#pic_container button:hover {
	background-color: var(--dark-text);
	color: var(--btn-bg);
}
span {
	color: var(--highlight-text);
}

#text_change {
	text-transform: uppercase;
	font-size: x-large;
	font-weight: bolder;
	color: var(--highlight-text);
}

#projects,
#skills,
#contact {
	background-color: var(--container-bg);
	width: 90%;
	margin: auto;
	height: 90vh;
	margin-top: 2.5vw;
	border-radius: 1%;
}

.skill-sect {
	width: 90%;
	text-align: center;
	height: 50%;
	margin: auto;
}

.tech_icons {
	display: flex;
	justify-content: space-evenly;
}

.sect {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
}
